$ErrorActionPreference = 'Stop'
$toolsDir = Split-Path -Parent $MyInvocation.MyCommand.Definition

Get-ChocolateyWebFile -PackageName 'gori' `
  -FileFullPath (Join-Path $toolsDir 'gori.exe') `
  -Url64bit 'https://github.com/hahwul/gori/releases/download/v__VERSION__/gori-v__VERSION__-windows-x86_64.exe' `
  -Checksum64 '__SHA256__' -ChecksumType64 'sha256'
